.main-section-container{
    margin-top:7rem;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 76.5rem;
}

.main-text{
    margin-right: 5.0rem;
}

.main-text h1{
    font-size: 5rem;
    margin-bottom: 1rem;
}

.steps-container{
    margin-top: 4rem;
    font-size: 2rem;
}

.button-container{
    margin-top: 5rem;
}

.button-container button{
    margin-left: 2rem;
    height: 5rem;
    width: 10rem;
    font-size: 1.8rem;
    font-weight: bolder;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: .5rem;
    cursor: pointer;
}

.main-section-container img{
    width: 60rem;
}

@media(max-width:768px){
    
    .main-section-container{
        flex-direction: column;
    }

    .main-text{
        text-align: center;
        margin: 3rem 0;
    }
    .main-section-container img{
        width: 30rem;
        margin-top: 3rem;
    }
    .main-text h1{
        font-size: 3rem;
    }
}